<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning EJS with Express.js</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Welcome: <%= test.firstName %> <%= test.lastName %></h1>
    <h2>
      Age of <%= test.firstName %> <%= test.lastName %> is : <%= test.age %>
    </h2>
    <ul id="hobiesList">
      <% test.hobbies.forEach(item => { %>
      <li class="hobby"><%= item %></li>
      <% }) %>
    </ul>
    <script src="/scripts.js"></script>
  </body>
</html>
